body{
    font-family: monsterart;
}

#title{
    background-color: #ff4c68;
    color: whitesmoke;
}


.h1{
    font-family: monsterart-black;  
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15%;
}

/* navbar section */

.navbar{
    padding: 0rem 0rem 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.0rem;
    font-family: Montserrat-light;
}

/* Download buttons */

.download-button{
     margin: 5% 3% 5% 0%;
}

/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* features section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 3%;
}

.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}
 
.fas:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: whitesmoke;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-lady{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    margin: 4rem 2rem 2rem;
    text-align: center;
}

.card-body{
    background-color: whitesmoke;
    text-align: center;
    border: 2px solid black;
}

.price-p{
    padding: 2rem;
    font-size: 1.5rem;
}

#pricing a{
    width: 200px;
}

#cta{
    text-align: center;
    background-color: #ef8172;
}

.cta-heading{
    padding-top: 4rem;
    color: whitesmoke;
}

#footer{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 1rem;
}

#footer p{
    padding-top: 2rem ;
    color: whitesmoke;
}

